<div
  class="flex flex-col md:flex-row justify-between items-center -md:gap-2 navbar bg-base-100"
>
  <div class="w-full md:w-2/3 flex items-center">
    <div class="w-1/3 md:w-full">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li>
            <a href="https://alanwvsilva.me" target="_blank"
              >Personal website</a
            >
          </li>
          <li>
            <a href="https://linkedin.com/in/alanwvsilva/" target="_blank"
              >Linkedin</a
            >
          </li>
          <li>
            <a href="https://github.com/alanwvsilva" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-1/3 md:w-full flex justify-center">
      <div class="flex items-center gap-2">
        <img class="w-6 h-6" src="/assets/images/logo.svg" alt="Sunset" />
        <span class="font-semibold text-xl">Sunset</span>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/3 flex justify-end">
    <div class="w-full md:max-w-xs dropdown">
      <div class="relative">
        <input
          #searchInput
          autocomplete="off"
          (input)="searchLocation($event)"
          name="search"
          type="text"
          placeholder="Procurar por cidade"
          class="w-full input input-bordered input-sm rounded-lg mb-1 !outline-none"
        />
        <img
          class="w-4 h-4 opacity-20 absolute right-2 top-1/2 -translate-y-1/2"
          src="/assets/images/search.svg"
          alt="Search"
        />
      </div>
      @if (isDropdownOpen) {
      <ul
        tabindex="0"
        class="w-full md:max-w-xs dropdown-content menu bg-gray-100 rounded-lg shadow text-xs p-1 z-[1] empty:hidden"
      >
        @for (item of searchData; track item.id) {
        <li>
          <button
            (click)="
              emitNewLocation('id:' + item.id);
              searchInput.value = '';
              searchData = []
            "
          >
            {{ item.name }}, {{ item.region }}, {{ item.country }}
          </button>
        </li>
        }
      </ul>
      }
    </div>
  </div>
</div>
