<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <div class="flex items-center gap-2">
      <img class="w-6 h-6" src="/assets/images/logo.svg" alt="Sunset" />
      <span class="font-semibold text-xl">Sunset</span>
    </div>
  </div>
  <div class="navbar-end">
    <div class="dropdown">
      <div class="relative">
        <input
          #searchInput
          autocomplete="off"
          (input)="searchLocation($event)"
          name="search"
          type="text"
          placeholder="Procurar por cidade ou código postal"
          class="w-80 input input-bordered input-sm rounded-lg mb-1 !outline-none"
        />
        <img
          class="w-4 h-4 opacity-20 absolute right-2 top-1/2 -translate-y-1/2"
          src="/assets/images/search.svg"
          alt="Search"
        />
      </div>

      @if (isDropdownOpen) {
      <ul
        tabindex="0"
        class="w-full dropdown-content menu bg-gray-100 rounded-lg text-xs p-1 z-[1] empty:hidden"
      >
        @for (item of searchData; track item.id) {
        <li>
          <button
            (click)="
              emitNewLocation('id:' + item.id);
              searchInput.value = '';
              searchData = []
            "
          >
            {{ item.name }}, {{ item.region }}, {{ item.country }}
          </button>
        </li>
        }
      </ul>
      }
    </div>
  </div>
</div>
