<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <div class="flex items-center">
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
        width="800px"
        height="800px"
        viewBox="0 0 32 32"
        version="1.1"
      >
        <title>sunset 2</title>
        <desc>Created with Sketch Beta.</desc>
        <defs></defs>
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          sketch:type="MSPage"
        >
          <g
            id="Icon-Set-Filled"
            sketch:type="MSLayerGroup"
            transform="translate(-362.000000, -829.000000)"
            fill="#000000"
          >
            <path
              d="M390,855 L366,855 C365.447,855 365,855.447 365,856 C365,856.553 365.447,857 366,857 L390,857 C390.553,857 391,856.553 391,856 C391,855.447 390.553,855 390,855 L390,855 Z M393,851 L363,851 C362.447,851 362,851.447 362,852 C362,852.553 362.447,853 363,853 L393,853 C393.553,853 394,852.553 394,852 C394,851.447 393.553,851 393,851 L393,851 Z M393.476,849 C393.806,847.72 394,846.384 394,845 C394,836.164 386.837,829 378,829 C369.163,829 362,836.164 362,845 C362,846.384 362.194,847.72 362.524,849 L393.476,849 L393.476,849 Z M383,859 L373,859 C372.447,859 372,859.447 372,860 C372,860.553 372.447,861 373,861 L383,861 C383.553,861 384,860.553 384,860 C384,859.447 383.553,859 383,859 L383,859 Z"
              id="sunset-2"
              sketch:type="MSShapeGroup"
            ></path>
          </g>
        </g>
      </svg>
      <a class="btn btn-ghost text-xl">Sunset</a>
    </div>
  </div>
  <div class="navbar-end">
    <input
      type="text"
      placeholder="Procurar por cidade ou código postal"
      class="input input-bordered input-sm w-full max-w-xs"
    />
    <button class="btn btn-ghost btn-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </button>
  </div>
</div>
