<div>
  <h2 class="font-bold mb-4">Previsão para os proximos 3 dias</h2>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Temperatura</th>
          <th>Humidade</th>
          <th>Vento</th>
        </tr>
      </thead>
      <tbody>
        @for (item of data.forecast.forecastday; track item.date) {
        <tr>
          <th>{{ item.date | date : "dd/MM" }}</th>
          <th>
            <img class="w-12 h-12" src="{{ item.day.condition.icon }}" />
          </th>
          <td>
            <span class="badge badge-primary badge-outline"
              >{{ item.day.avgtemp_c | number : "1.0-0" }}º</span
            >
          </td>
          <td>{{ item.day.avghumidity }}%</td>
          <td>{{ item.day.avgvis_km | number : "" : "pt" }} km/h</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
