<div class="flex flex-col gap-4">
  <h2 class="font-bold text-gray-600 mb-4">Previsão do tempo de hoje</h2>
  <div class="bg-zinc-100 p-12 rounded-2xl border-2 border-gray-50">
    <div class="flex flex-col items-center gap-4">
      <h2 class="font-bold text-gray-600">
        {{ data.location.name }}, {{ data.location.country }}
      </h2>
      <div class="flex flex-row items-center gap-4">
        <img
          class="w-14 h-14"
          src="/assets/images/weather.svg"
          alt="{{ data.current.condition.text }}"
        />
        <div>
          <h4 class="text-4xl">{{ data.current.temp_c }}°</h4>
          <p class="text-xs text-gray-500">
            Sensação de {{ data.current.feelslike_c }}°
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div
      class="flex flex-col justify-center items-center bg-zinc-100 p-8 rounded-2xl border-2 border-gray-50"
    >
      <h3 class="text-gray-600 mb-4">Humidade</h3>
      <div
        class="radial-progress bg-primary text-primary-content border-4 border-primary"
        style="--value: {{ data.current.humidity }}"
        role="progressbar"
      >
        {{ data.current.humidity }}%
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-zinc-100 p-8 rounded-2xl border-2 border-gray-50"
    >
      <h3 class="text-gray-600 mb-4">Vento</h3>
      <div
        class="radial-progress bg-primary text-primary-content border-4 border-primary"
        style="--value: {{ data.current.wind_kph }}"
        role="progressbar"
      >
        {{ data.current.wind_kph }} km/h
      </div>
    </div>
  </div>
  <ul class="timeline">
    <li class="w-1/4">
      <div class="timeline-start">Manhã</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/check.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[9].temp_c }}°
      </div>
      <hr />
    </li>
    <li class="w-1/4">
      <hr />
      <div class="timeline-start">Tarde</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/check.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[14].temp_c }}°
      </div>
      <hr />
    </li>
    <li class="w-1/4">
      <hr />
      <div class="timeline-start">Noite</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/check.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[20].temp_c }}°
      </div>
      <hr />
    </li>
    <li class="w-1/4">
      <hr />
      <div class="timeline-start">Madrugada</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/check.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[5].temp_c }}°
      </div>
    </li>
  </ul>
</div>
