<div class="flex flex-col gap-4">
  <h2 class="font-bold">Previsão de hoje</h2>
  <div class="bg-zinc-100 p-12 rounded-2xl border-2 border-gray-50">
    <div class="flex flex-col items-center gap-4">
      <h3 class="font-bold">
        {{ data.location.name }}, {{ data.location.country }}
      </h3>
      <div class="flex flex-row items-center gap-4">
        <img
          class="w-12 h-12"
          src="{{ data.current.condition.icon }}"
          alt="{{ data.current.condition.text }}"
        />
        <div>
          <h4 class="text-4xl mb-2">
            {{ data.current.temp_c | number : "1.0-0" }}°
          </h4>
          <div class="flex flex-col">
            <span class="text-xs opacity-80">{{
              data.current.condition.text
            }}</span>
            <span class="text-xs opacity-50">
              Sensação de {{ data.current.feelslike_c | number : "1.0-0" }}°
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div
      class="flex flex-col justify-center items-center bg-zinc-100 p-8 rounded-2xl border-2 border-gray-50"
    >
      <h3 class="mb-4">Humidade</h3>
      <radial-progress class="text-cyan-500" [value]="data.current.humidity">
        {{ data.current.humidity }}%
      </radial-progress>
    </div>
    <div
      class="flex flex-col justify-center items-center bg-zinc-100 p-8 rounded-2xl border-2 border-gray-50"
    >
      <h3 class="mb-4">Vento</h3>
      <radial-progress class="text-indigo-500" [value]="data.current.wind_kph">
        {{ data.current.wind_kph | number : "" : "pt" }} km/h
      </radial-progress>
    </div>
  </div>
  <ul class="timeline">
    <li class="w-1/4">
      <div class="timeline-start">Manhã</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/sunrise-fill.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[9].temp_c | number : "1.0-0" }}°
      </div>
      <hr />
    </li>
    <li class="w-1/4">
      <hr />
      <div class="timeline-start">Tarde</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/brightness-high-fill.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[14].temp_c | number : "1.0-0" }}°
      </div>
      <hr />
    </li>
    <li class="w-1/4">
      <hr />
      <div class="timeline-start">Noite</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/sunset-fill.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[20].temp_c | number : "1.0-0" }}°
      </div>
      <hr />
    </li>
    <li class="w-1/4">
      <hr />
      <div class="timeline-start">Madrugada</div>
      <div class="timeline-middle">
        <img class="w-4 h-4" src="/assets/images/cloud-moon-fill.svg" />
      </div>
      <div class="timeline-end timeline-box">
        {{ data.forecast.forecastday[0].hour[5].temp_c | number : "1.0-0" }}°
      </div>
    </li>
  </ul>
</div>
